.contenu{
    position: fixed;
    top: 150px;
    left: 30%;
}

.tableau, th, td{
    border: 2px solid;
    border-color: gray;
}

.btnPopup{
    background-color: white;
    cursor: pointer;
}

.btnPopup:hover{
    background-color: lightgrey;
}

.overlay{
    position:fixed;
    left: 30%;
    top: 150px;
    background-color: lightgray;
    width: 80%;
    display: none;
}


.popup{
    border-radius: 5px;
    padding: 10px;
}

.btnClose{
    float: right;
    cursor: pointer;
}